template(name='mainMenu')
  .section: .container
    .center
      a.btn-large.waves-effect.waves-light.grey.darken-2(href='findTheLetter/') find the letter
      a.btn-large.waves-effect.waves-light.grey.darken-2(href='showLetters/') show letters
