head
  title phonics
  meta( name="viewport", content="width=device-width, initial-scale=1.0" )

body
  nav.grey(role='navigation')
    .nav-wrapper.container
      a.brand-logo.right(href='/') Lucas’ Phonics
  


template(name="hello")
  button.btn-large.waves-effect.waves-light.grey Click Me
  p You've pressed the button #{counter} times.

